.title {
  margin: 0.5rem 0;
}

.h1 {
  font-size: 3rem;
}
.h2 {
  font-size: 2.8rem;
}
.h3 {
  font-size: 2.6rem;
}
.h4 {
  font-size: 2.4rem;
}
.h5 {
  font-size: 2.2rem;
}
.h6 {
  font-size: 2rem;
}

/* Italic */
.title[data-italic="true"] {
  font-style: italic;
}

/* Underline */
.title[data-underlined="true"] {
  text-decoration-line: underline;
}

/* Strong */
.title[data-strong="false"] {
  font-weight: 300;
}

/* Color */
.title[data-color="primary"] {
  color: var(--black);
}
.title[data-color="secondary"] {
  color: var(--grey2);
}
.title[data-color="ok"] {
  color: var(--green);
}
.title[data-color="cancel"] {
  color: var(--red);
}
.title[data-color="warning"] {
  color: var(--yellow);
}
