@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --blue: #4096ff;
  --grey: #f5f5f5;
  --grey2: #9db2bf;
  --grey3: #1d4040;
  --disabled: #cccccc;
  --green: #4caf50;
  --red: #f44336;
  --yellow: #eae509;
  --white: #fcfcfc;
  --black: #1d2121;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
span,
select,
option,
label,
li {
  font-family: "Raleway", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
