.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.title-container,
.text-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  cursor: pointer;
}

.title {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}

.text {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 300;
}

.icon {
  transition: ease-in 0.15s;
}
